@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0; 
    
}

.wrapper{
    background: url(fundo.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar {
    height: 80px;
    width: 100%;
    background: rgb(0,0,0,0.4);
}

.logo{
    width: 140px;
    height: auto;
    padding: 10px 260px;
}

.navbar ul{
    float: right;
    margin-right: 20px  ;
}

.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Roboto', sans-serif;
    transition: .4s;
    
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: rgb(56, 48, 173);
    border-radius: 2px;

} 

.wrapper .center{
    position:absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%,-50); 
    font-family: sans-serif;
    user-select: none;
}

.wrapper .center h1 {   
transform: translate(-25%, -70%);
}
.wrapper .center h2 {
    transform: translate(-25%, -300%);
}

.wrapper .center button {
    transform: translate(35%, -200%);
}
.center h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
    width: 800px;
    text-align: center;
}

.center h2{
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 785px;
    text-align: center;

}

.button button{
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    background:rgb(56, 48, 173);
    border: 5px solid rgb(56, 48, 173);
    outline: none;
    cursor: pointer;
    border-radius: 55px;
    transition: .5s;
}

.button .btn {
    margin-left: 25px;
}

.button button:hover{
    background: rgb(33, 33, 131);
}